body {
    background-color: #eee;
    color: #222;
    font-size: clamp(15px, 1.6vw, 24px);
  }
  h1 {
    font-size: clamp(25px, 3vw, 45px);
  }
  h2 {
    font-size: clamp(20px, 2.4vw, 35px);
  }
  h3 {
    font-size: clamp(17px, 2vw, 30px);
  }
  
  
  .center-frame {
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .editor {
    .element {
      
    }
  }
  [contenteditable] {
    min-height: 100px;
    width: 100%;
    max-width: 300px;
  }
  