@use '../agnostic/' as *;

body {
  background-color: #eee;
  color: #222;
  font-family: 'Source Sans Pro', sans-serif;
  &, #{$text-els} {
    font-weight: 300;
    strong {
      font-weight: 600;
    }
  }
  h1 {
    font-size: clamp(26px, 3vw, 45px);
  }
  h2 {
    font-size: clamp(21px, 2.4vw, 30px);
  }
  h3 {
    font-size: clamp(19px, 1.85vw, 28px);
  }
  &, p {
    font-size: clamp(16px, 1.47vw, 22px);
  }
}


.center-frame {
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}


.editor {
  .element {
    
  }
}
