@use '../mixins/agnostic/misc.scss' as *;
@use '../mixins/project/typography.scss' as *;
@use '../mixins/project/editor.scss' as *;

.editor {
    max-width: 750px;
    .-input-container {
        background-color: #333;
        color: #fff;
        .element {
            display: flex;
            .-gutter {
                display: inline-block;
                flex: 0 0 auto;
                width: 38px;
                background-color: #555;
                padding: 0 7px;
                cursor: pointer;
                user-select: none;
                transition: background-color 0.2s linear;
                p {
                    margin: 0;
                    opacity: 0.5;
                    transition: opacity 0.2s linear;
                    line-height: 0.5;
                    position: relative;
                    top: 10px;
                }
                &:hover {
                    // background-color: #5e6e73;
                    p {
                        opacity: 1;
                    }
                }
            }
            .-input {
                padding: 2px 7px;
                width: 100%;
                flex: 0 1 auto;
                p {
                    margin: 0;
                    white-space: pre-wrap;
                    &:focus {
                        outline: none;
                    }
                }
            }
            &.-h2 {
                // .-input {
                    p {
                        @include h2;
                    }
                // }
            }
            &.-h3 {
                // .-input {
                    p {
                        @include h3;
                    }
                // }
            }
            &.-p {
                .-input { 
                    p {
                        @include p;
                    }
                }
            }
            &:focus-within {
                .-gutter {
                    background-color: #6a6a6a;
                }
                .-input {
                    background-color: #3a3a3a;
                }
            }
            
            // h1 {
            //     margin: 0;
            //     line-height: 0.8;
            //     cursor: pointer;
            //     opacity: 0.5;
            //     transition: opacity 0.2s linear;
            //     &:hover {
            //         opacity: 1;
            //     }
            // }
        }
    }
}
  