
body {
    background-color: #eee;
    padding-top: 10vh;
    @media (prefers-color-scheme: dark) {
        background-color: #222;
    }
}    

.center-frame {
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}



