@use '../agnostic/misc.scss' as *;
@use '../project-no-select/typography.scss' as *;


body {
    color: #222;
    font-family: 'Source Sans Pro', sans-serif;
    &, #{$text-els} {
      font-weight: 300;
      strong, b {
        font-weight: 600;
      }
    }
    h1 {
        @include h1;
    }
    h2 {
        @include h2;
    }
    h3 {
        @include h3;
    }
    &, p {
        @include p;
    }
  }
  
  