@use '../agnostic/misc.scss' as *;
@use '../project-no-select/colors.scss' as *;

@mixin text-color {
    color: #fff;
    @include light-theme {
        color: #222;
    }
}


@mixin h1 {
    @include clamp(28, 50);
    @include text-color;
}
@mixin h2 {
    @include clamp(22, 36);
    @include clamp(12, 18, 'margin-bottom');
    @include text-color;
    line-height: 1.2;
    &:not(:first-child) {
        @include clamp(14, 20, 'margin-top');
    }
}
@mixin h3 {
    @include clamp(18, 25);
    @include clamp(9, 14, 'margin-bottom');
    @include text-color;
    line-height: 1.3;
    &:not(:first-child) {
        @include clamp(10, 16, 'margin-top');
    }
}
@mixin p {
    @include clamp(14, 18);
    @include clamp(6, 12, 'margin-bottom');
    @include text-color;
    line-height: 1.5;
}

